<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>班级列表</title>
</head>
<body>
    <ol class="breadcrumb">
        <li><a href="/schoollist/">学校列表 </a></li>
        <li><a href="#">班级列表</a></li>

    </ol>
<div class="container">
    <div class="page-header" style = 'text-align:center'>
        <h2>{{ schoolname }}班级列表</h2>
    </div>
    <div class="table-responsive" style ='width:1200px;margin:auto;'>
    <table border='1' class="table table-hover">
        <tr>
            <th>班级ID</th>
            <th>年级</th>
            <th>班级名称</th>
            <th>班级人数</th>
            <th>操作</th>
        </tr>
        {% for i in row %}
        <tr>
            <th>{{ i.0 }}</th>
            <th>{{ i.1 }}</th>
            <th>{{ i.2 }}</th>
            <th>{{ i.3 }}</th>
            <th><a href="/classdetails/?schoolid={{ i.4 }}&classid={{ i.0 }}">查看详情</a> </th>
        </tr>
        {% endfor %}

    </table>
   </div>

</div>

</body>
</html>