<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学校数据</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/static/index/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/static/index/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/static/index/css/templatemo-style.css">

</head>

<body id="reportsPage">
<div class="" id="home">
    <!--头部-->
    <nav class="navbar navbar-expand-xl">
        <div class="container h-100" style="min-width:1400px">
            <a class="navbar-brand" href="#">
                <h1 class="tm-site-title mb-0">大数据中心</h1>
            </a>
            <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars tm-nav-icon"></i>
            </button>
            <!--导航切换-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto h-100">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fas fa-tachometer-alt"></i>
                            学校数据<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-file-alt"></i>
                            <span>班级数据</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-shopping-cart"></i>
                            用户数据
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-user"></i>
                            课程数据
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                            <span>资源数据</span>
                        </a>

                    </li>
                </ul>
                <!--欢迎登录-->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link d-block" href="#">
                            Admin, <b>欢迎您登录</b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
    <div class="container" style="max-width:1400px">
        <div class="row">
            <div class="col">
                <p class="text-white mt-5 mb-5"></p>
            </div>
        </div>
        <!-- 内容 -->
        <div class="row tm-content-row">
            <!--图表1-->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">

                <div class="tm-bg-primary-dark tm-block">
                    <h2 class="tm-block-title">学校类型分布</h2>
                    <div id='main' style="width:100%;height:100%;margin-top:50px"></div>
                    <script src='/static/echarts.min.js'></script>
                    <script>
                          //基于准备好的DOM，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main'));
                          //指定图表的配置项和数据
                  option = {

                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient : 'vertical',
                        x : 'left',
                        textStyle:{
                            fontSize: 14,//字体大小
                            color: '#ffffff'//字体颜色
                        },
                        data:['测试学校','演示学校','收费学校','民盟捐赠','酷蒙学校']
                    },

                    calculable : true,
                    series : [
                        {
                            color: ['#fdb301','#cf9ef1','#5085f2','#57e7ec','#8d7fec'],
                            name:'学校类型',
                            type:'pie',
                            radius : '85%',
                            center: ['60%', '50%'],
                            data:[
                                {value:{{ school_data1}}, name:'测试学校'},
                                {value:{{ school_data2}}, name:'演示学校'},
                                {value:{{ school_data3}}, name:'收费学校'},
                                {value:{{ school_data4}}, name:'民盟捐赠'},
                                {value:{{ school_data5}}, name:'酷蒙学校'}
                            ]
                        }
                    ]
                };

                        //使用刚指定的配置项和数据显示图表
                        myChart.setOption(option);

                    </script>


                </div>
            </div>

            <!--图表2-->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block">

                   <h2 class="tm-block-title">开通学校趋势图</h2>
                    <div id='main2' style="width:100%;height:100%;margin-top:-20px;"></div>
                    <script src='/static/echarts.min.js'></script>
                    <script>
                          //基于准备好的DOM，初始化echarts实例
                        var myChart = echarts.init(document.getElementById('main2'));
                        //指定图表的配置项和数据
                        var xData = {{ xdata | safe}};
                        var yData1 ={{ ydata | safe}};
                        option = {
                            backgroundColor: '#455c71',
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    type: 'cross'
                                }
                            },
                            legend: {
                                x: 'center',
                                y: '40px',
                                textStyle: {
                                    color: '#f2f2f2',
                                    fontSize: 13,
                                },
                                icon: 'circle',
                                data: ['开通学校数']
                            },
                            dataZoom: [{
                                    type: 'slider',
                                    show: true,
                                    height: 20,
                                    left: '10%',
                                    right: '10%',
                                    bottom: '2%',
                                    start: 90,
                                    end: 100,
                                    textStyle: {
                                        color: '#d4ffff',
                                        fontSize: 11,
                                    },
                                }, {
                                    type: 'inside'
                                }

                            ],
                            grid: {
                                right: '5%',
                                bottom: '10%',
                                left: '2%',
                                top: '80px',
                                containLabel: true
                            },
                            xAxis: [{
                                type: 'category',
                                data: xData,
                                name: '月份',
                                nameTextStyle: {
                                    color: '#d4ffff'
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: '#0B4CA9'
                                    }
                                },
                                axisTick: {
                                    show: false,
                                },
                                axisLabel: {
                                    show: true,
                                    textStyle: {
                                        color: "#FFF",
                                        fontSize: 12,
                                    },
                                    //interval:0,
                                    //rotate:30
                                },
                            }],
                            yAxis: [{
                                type: 'value',
                                name: '开通学校数',
                                nameTextStyle: {
                                    color: '#d4ffff'
                                },
                                position: 'left',
                                axisLine: {
                                    lineStyle: {
                                        color: '#0B4CA9'
                                    }
                                },
                                splitLine: {
                                    lineStyle: {
                                        color: "#0B4CA9",
                                    }

                                },
                                axisLabel: {
                                    color: '#d4ffff',
                                    fontSize: 12,
                                }
                            }, ],
                            series: [{
                                    name: '开通学校数',
                                    type: 'line',
                                    yAxisIndex: 0,
                                    symbolSize: 12,
                                    itemStyle: {
                                        normal: {
                                            color: '#FC30EE',
                                        }
                                    },
                                    data: yData1
                                },


                            ]
                        };

                        //使用刚指定的配置项和数据显示图表
                        myChart.setOption(option);

                    </script>
                </div>
            </div>
            <!--学校列表-->
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll" style="max-height:100%">
                    <h2 class="tm-block-title">学校列表</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>学校ID</th>
                            <th>学校名称</th>
                            <th>班级数</th>
                            <th>axp班级数</th>
                            <th>教师人数</th>
                            <th>授课教师数</th>
                            <th>学生数</th>
                            <th>在校生</th>
                            <th>建课数</th>
                            <th>作业数</th>
                            <th>axp推送数</th>
                        </tr>
                        </thead>
                        {% for i in row1 %}
                        <tbody>
                        <tr>
                            <td>{{ i.1 }}</td>
                            <td>{{ i.2 }}</td>
                            <td>{{ i.5 }}</td>
                            <td>{{ i.6 }}</td>
                            <td>{{ i.7 }}</td>
                            <td>{{ i.8 }}</td>
                            <td>{{ i.9 }}</td>
                            <td>{{ i.10 }}</td>
                            <td>{{ i.11 }}</td>
                            <td>{{ i.12 }}</td>
                            <td>{{ i.13 }}</td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <a href="">上一页</a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">下一页</a>
                </div>
            </div>
            <!--图表3-->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller">
                    <h2 class="tm-block-title">Storage Information</h2>
                    <div id="pieChartContainer" style="height: 300px;">
                        <div class="chartjs-size-monitor"
                             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <div class="chartjs-size-monitor"
                             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink"
                                 style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div>
                        <canvas id="pieChart" class="chartjs-render-monitor" width="375" height="300"
                                style="display: block; width: 375px; height: 300px;"></canvas>
                    </div>
                </div>
            </div>
            <!--图表4-->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
                    <h2 class="tm-block-title">Notification List</h2>
                    <div class="tm-notification-items">
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-01.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Jessica</b> and <b>6 others</b> sent you new <a href="#"
                                                                                                   class="tm-notification-link">product
                                    updates</a>. Check new orders.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-02.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Oliver Too</b> and <b>6 others</b> sent you existing <a href="#"
                                                                                                           class="tm-notification-link">product
                                    updates</a>. Read more reports.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-03.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Victoria</b> and <b>6 others</b> sent you <a href="#"
                                                                                                class="tm-notification-link">order
                                    updates</a>. Read order information.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-01.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Laura Cute</b> and <b>6 others</b> sent you <a href="#"
                                                                                                  class="tm-notification-link">product
                                    records</a>.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-02.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Samantha</b> and <b>6 others</b> sent you <a href="#"
                                                                                                class="tm-notification-link">order
                                    stuffs</a>.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-03.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Sophie</b> and <b>6 others</b> sent you <a href="#"
                                                                                              class="tm-notification-link">product
                                    updates</a>.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-01.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Lily A</b> and <b>6 others</b> sent you <a href="#"
                                                                                              class="tm-notification-link">product
                                    updates</a>.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-02.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Amara</b> and <b>6 others</b> sent you <a href="#"
                                                                                             class="tm-notification-link">product
                                    updates</a>.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                        <div class="media tm-notification-item">
                            <div class="tm-gray-circle"><img src="/static/index/img/notification-03.jpg"
                                                             alt="Avatar Image" class="rounded-circle"></div>
                            <div class="media-body">
                                <p class="mb-2"><b>Cinthela</b> and <b>6 others</b> sent you <a href="#"
                                                                                                class="tm-notification-link">product
                                    updates</a>.</p>
                                <span class="tm-small tm-text-color-secondary">6h ago.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/static/index/js/jquery-3.3.1.min.js"></script>
<!-- https://jquery.com/download/ -->
<script src="/static/index/js/moment.min.js"></script>
<!-- https://momentjs.com/ -->
<script src="/static/index/js/Chart.min.js"></script>
<!-- http://www.chartjs.org/docs/latest/ -->
<script src="/static/index/js/bootstrap.min.js"></script>
<!-- https://getbootstrap.com/ -->
<script src="/static/index/js/tooplate-scripts.js"></script>
<script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
            });
        })








</script>


</body>

</html>