{% extends 'base.html' %}

{% block title %}学校数据查询{% endblock  %}

{% block navbar %}
   {{ block.super }}
{% endblock %}


{% block school_active %}
active
{% endblock school_active %}

{% block body %}

<!-- 学校查询-->
<div style="width: 1300px;margin: 0 auto" >
    <form class="form-inline" method="post">
      <div class="form-group">
        <label for="exampleInputName2">学校ID</label>
        <input type="text" class="form-control" id="exampleInputID"  placeholder="请输入学校ID">
          <button type="submit" class="btn btn-default" id ='searchID' >搜索</button>
      </div>

      <div class="form-group" style="margin-left: 20px;">
        <label for="exampleInputEmail2">学校名称</label>
        <input type="text" class="form-control" id="exampleInputName"  placeholder="请输入学校名称">
      </div>
      <button type="submit" class="btn btn-default" id ='searchName'>搜索</button>
    </form>
</div>

{% endblock body %}
